@charset "ISO-8859-1";

.loading-class{
	padding: 15px 45px;
    background-repeat:no-repeat;
    background-size: auto 40px;
	width: 100%;
    height: 100%;
    z-index:1010;
    top: 50px;
    position: sticky;	
		
}
.loading-class-img{
	width:2em;
	height:2em;
	background-position:center;
	background-image: url(../img/loading.gif);
}


.minimize{
	padding: 0.5em;	
	cursor:pointer;
}

/*====================== TABLE RESPONSIVA */
/* Coloque aqui seu codigo CSS */
.message{
    margin-top: 10px;
}
.card-cockpit-img{
	width: 75%;
    margin: -5px!important;
}  
.card-cockpit-header{
	
}

.card-cockpit-content{
	margin-bottom: 30px;
}

.card-cockpit-linha{
	border-top: 3px solid #003d99!important;
}
 
a{
	text-decoration: none!important;	
}
.card-table-1-bg{
	opacity: 0.1;
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 92%;
    margin-left: 24px;
}
.card-table-1{
	width: 100%;
    border-left: 6px solid #003d99;
    box-shadow: 4px 4px 4px #0000006b;
    padding:1em
}
.card-table-1:hover{
	border-left: 3px solid #bf5b00;
	cursor: pointer;
	box-shadow: 2px 2px 2px #003d99;
}

.card-table-title-1{
	font-size: 31px;
    padding: 34px 0px 0px 15px;
}

.card-table-title-2{
	font-size: 20px;
    padding: 4px 0px 0px 18px;
}

.card-table-title-3{
	font-size: 12px;
    padding: 4px 0px 0px 18px;
}

.card-table-label{
	padding: 1px 0px 0px 10px;
}

.card-table-value{
	
}

.card-table-tr{
	margin-bottom: 4px
}
 
 /*====================== TABLE RESPONSIVA */
 
.fluig-style-guide .fluigicon {
	top:0px!important;
}

/*====================== FIELDSET E LEGEND */
fieldset.scheduler-border {
/* ATRIBUTO               VALOR*/
  border:                 solid 1px #DDD !important;
  padding:                0px 10px 10px 10px!important;
  border-bottom:          none;
  border-radius:          5px!important;
  margin-bottom:          10px!important;
  margin-top:             10px !important;
}

legend.scheduler-border {
/* ATRIBUTO               VALOR*/
  width:                  auto !important;
  border:                 none!important;
  padding-left:           5px!important;
  padding-right:          5px!important;
  font-size:              17px!important;
  margin-bottom:          4px!important;
  color:                  #9e9b9b !important;
  font-weight:            bold;
  text-transform:         uppercase;
}

legend.scheduler-border2 {
/* ATRIBUTO               VALOR*/
  width:                  auto !important;
  border:                 none!important;
  padding-left:           5px!important;
  padding-right:          5px!important;
  font-size:              14px!important;
  margin-bottom:          4px!important;
  color:                  #9e9b9b !important;
  text-transform:         uppercase;
}
/*================ FIM - FIELDSET E LEGEND */
   

/* ================================= HEADER */
#bodyCliente{
/* ATRIBUTO            VALOR    */
  padding-bottom:     50px;
}
#header{  
/* ATRIBUTO            VALOR    */
  background:#002a6a;
  border-bottom:      3px solid #003d99;
}
#tituloFormulario{ 
/* ATRIBUTO            VALOR    */
  text-transform:     uppercase;
  font-weight:        900;
  color:              #ffffff;
  font-size:          20px;
  float:              left;
  margin-top:         50px;
  margin-left:        20px;
 
}
label{
	padding: 1em 0em 0em 0em!important;
}
#tituloModal{
/* ATRIBUTO            VALOR    */
  text-transform:     uppercase;
  font-weight:        bolder;
}
#logoRCI{
/* ATRIBUTO            VALOR    */
	padding: 10px 0px 10px 35px
}
/* ============================= FIM HEADER */



@media screen and (max-width: 360px) {
    .tituloFormulario_h{ 
	  font-size:          10px;
	  font-weight:        bolder;
	  margin-top:         15px;
	}
	.titulo-menu[aria-expanded="true"]{ 
	  font-size:          20px;
	  font-weight:        bolder;
	  background:         #FFF!important;
	  color:              #000000;  
	  padding:            10px;
	  -webkit-box-shadow: -4px 200px 188px -104px rgba(240,115,5,1)!important;
		-moz-box-shadow: -4px 200px 188px -104px rgba(240,115,5,1)!important;
		box-shadow: -4px 200px 188px -104px rgba(240,115,5,1)!important;
	}
	
	.tab-content{
		margin-top: -27px!important;
	    padding-top: 25px!important;
	} 
}

@media screen and (min-width: 361px) {
    .tituloFormulario_h{ 
	  font-size:          25px;
	  font-weight:        bolder;
	  margin-top:         15px;
	}
	
	.titulo-menu[aria-expanded="true"]{ 
	  font-size:          20px;
	  font-weight:        bolder;
	  background:         #FFF!important;
	  color:              #000000;  
	  padding:            10px;
	}
	
	.tab-content{
		
	} 
	
}




.titulo-menu{ 
  font-size:          20px;
  font-weight:        bolder;
  color:              #000000;  
  padding:            10px;
}
.titulo-menu:hover{ 
  font-size:          20px;
  font-weight:        bolder;
  background:         #FFF!important;
  color:              #000000!important;
  -webkit-box-shadow: -4px 200px 188px -104px rgba(240,115,5,1)!important;
	-moz-box-shadow: -4px 200px 188px -104px rgba(240,115,5,1)!important;
	box-shadow: -4px 200px 188px -104px rgba(240,115,5,1)!important;  
}


.fluig-style-guide .navbar-nav{
	float: right!important;
    margin: auto!important;
    margin-right: -16px!important;
}

.tab-menu{
	padding-top: 20px;	
}
.tab-pane{
	min-height:100px
}

.panel-heading>h3{
	margin-bottom: 0px!important;
	margin-top: 0px!important;
}

.disabled{
	opacity:0.7!important;
	pointer-events: none!important;
  	touch-action: none!important;	
  	background: #cccccc52!important;
    border: 0px!important;
}


.bs-callout{
	padding-left:10px!important;
    border: 1px solid #eee!important;
    border-left-width: 5px!important;
    border-radius: 3px!important;
}
.bs-callout h4 {
    margin-top: 0!important;
    margin-bottom: 5px!important;
}
.bs-callout p:last-child {
    margin-bottom: 0!important;
}
.bs-callout code {
    border-radius: 3px!important;
}
.bs-callout+.bs-callout {
    margin-top: -5px!important;
}
.bs-callout-default {
    border-left-color: #777!important;
}
.bs-callout-default h4 {
    color: #777!important;
}
.bs-callout-primary {
    border-left-color: #428bca!important;
}
.bs-callout-primary h4 {
    color: #428bca!important;
}
.bs-callout-success {
    border-left-color: #5cb85c!important;
}
.bs-callout-success h4 {
    color: #5cb85c!important;
}
.bs-callout-danger {
    border-left-color: #d9534f!important;
}
.bs-callout-danger h4 {
    color: #d9534f!important;
}
.bs-callout-warning {
    border-left-color: #f0ad4e!important;
}
.bs-callout-warning h4 {
    color: #f0ad4e!important;
}
.bs-callout-info {
    border-left-color: #5bc0de!important;
}
.bs-callout-info h4 {
    color: #5bc0de!important;
}	 

.bs-callout-orange {
    background: #ffce7378;
    border-left-color: #ef5c06!important;   
}
.bs-callout-orange h4 {
    color: #5bc0de!important;
}


/****MODAL SELECT INICIAL - INICIO************/
.inputGroup {
  background-color: #fff;
  display: block;
  margin: 10px 20px;
  position: relative;
}

.inputGroup > label:hover{
	animation: drop 0.3s linear;
	border-left: 5px solid #003d99;
}
@keyframes drop{
	from{
		border-left: 0px;
	}to{
		border-left: 5px solid #003d99;
	}
}
.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3c454c;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  -webkit-transition:color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #003d99;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition:all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #d1d7dc;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
  -webkit-transition:all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #595757;
  border-color: #595757;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); /* Safari */
  cursor: pointer;
  visibility: hidden;
}
.form {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.form-selecao{
	border-color: black !important;
	text-align: center;
}
/****MODAL SELECT INICIAL - FIM************/


.solicitacao-doc-gold{
	color:gold
}
 
.solicitacao-icones{
	text-align:center!important;
	width:100px!important;
}

.solicitacao-icones:hover{
	color:
}


th.solicitacao-icones{
	color:lavender!important;
}

#qrcode {
  width:60px !important;
  height:60px !important;
  padding:1px !important;
}

.valor-forma-pagto INPUT {
	margin-top: 2px !important;
	text-align: right;
}

.table-compra-usado  {
  width:98% !important;
  padding:1px !important;
  border: solid 1px #EEE;
}

.colunas-compra-usado td {
  padding:2px !important;
  border: solid 1px #EEE;
  font-weight: 600;
}

.linhas-compra-usado td  {
  padding:2px !important;
  border: solid 1px #EEE;
  font-weight: 300;
}

.table-servicos-adicionais {
  width:98% !important;
  padding:1px !important;
  border: solid 1px #EEE;
}

.colunas-servicos-adicionais td {
  padding:2px !important;
  border: solid 1px #EEE;
  font-weight: 600;
}

.linhas-servicos-adicionais td  {
  padding:2px !important;
  border: solid 1px #EEE;
  font-weight: 300;
}

.table-info-adicionais {
  width:98% !important;
  padding:1px !important;
  border: solid 1px #EEE;
}

.colunas-info-adicionais td {
  padding:2px !important;
  border: solid 1px #EEE;
  font-weight: 600;
}

.linhas-info-adicionais td  {
  padding:2px !important;
  border: solid 1px #EEE;
  font-weight: 300;
}

.error {
	
	border: solid 1px red !important;
	
}

.error buttom {
	
	border: solid 3px red !important;
	
}

.NFe_tr {
	
	cursor: pointer;
	
}

.NFe_tr_selected {
	
	background-color: yellow !important;
	
}

.disabled {
	
	background-color: white !important;
	
}

.disabled input{
	
	background-color: white !important;
	
}

.disabled select{
	
	background-color: white !important;
	
}

.anexo span {
	background-color: white !important;
	color: #595959;
}
