.aui-header {
    background: #0c0c0c;
    border-bottom: 1px solid #2e3d54;
    box-sizing: border-box;
    color: #fff;
    padding: 8px 10px;
}
.aui-header, #footer {
    clear: both;
    float: left;
    width: 100%;
}
.aui-header:after, .aui-header .aui-header-logo a:after {
    content: "";
    display: table;
    clear: both;
}
.aui-header .aui-header-logo, .aui-header .aui-nav {
    margin: 0;
    padding: 0;
    float: left;
}
.aui-header .aui-dropdown2-trigger, #header .aui-header .aui-nav-link, #header .aui-header .aui-nav-imagelink, #header .aui-header a {
    color: #ffffff;
    text-decoration: none;
}
.aui-header .aui-header-logo a {
    box-sizing: border-box;
    float: left;
    height: 40px;
    padding: 0 10px;
}
.aui-header a {
    color: #fff;
    display: block;
    line-height: 1;
    padding: 13px 10px;
}
.aui-header .aui-header-logo img {
    max-height: 42px;
    padding: 8px 0;
}
.aui-header-primary .aui-nav {
    overflow: hidden;
    white-space: nowrap;
    width: 0px;
}
.aui-header .aui-header-logo, .aui-header .aui-nav {
    margin: 0;
    padding: 0;
    float: left;
}

.aui-nav, .aui-nav>li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p, ul, ol, dl, h1, h2, h3, h4, h5, h6, blockquote, pre, form.aui, table.aui, .aui-tabs, .aui-panel, .aui-group {
    margin: 10px 0 0 0;
}
ul, ol, dl {
    margin: 0;
}

.faixapretadatotvs{
	height: 60px;
    width: 105%;
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: -35px!important;
    margin: 5px;
    margin-left: -15px;
    margin-right: -13px;
    
}
#zoomify-close{
	cursor: pointer
}
	
.zoomify-background {
	width: 100%;
	height: 100%;
	background-color: RGBA(0, 0, 0, 0.7);
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	z-index: 100000;
}

.zoomify-window {
	width: 640px;
	height: 400px;
	position: fixed;
	top: 100px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	background-color: #FFF;
	z-index: 100000;
	padding: 15px;
	box-sizing: border-box;
	margin-top: -50px;
}

.zoomify-window table {
	width: 100%;
}

.zoomify-window table tbody {
	height: 260px;
	overflow: hidden;
	overflow-y: scroll;
	display: block;

}

.zoomify-window table tbody tr {
	display: flex;
	flex-wrap: wrap;
}

.zoomify-window table tbody tr td {
	flex-grow: 1;

}

.zoomify-window table input {
	width: 100%;
}

.zoomify-window table tr {
	cursor: pointer;
}

.zoomify-window table tr:hover {
	background-color: lightyellow;
}